$light_red : red;
$blue : rgb(37, 95, 204);
$light_blue : rgb(76, 134, 243);
$very_light_blue : rgb(124, 163, 235);

@mixin centeredFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pop {
    0%{
        scale: 0.7;
    }

    80%{
        scale: 1.2;
    }

    100%{
        scale: 1;
    }
}

.animate--pop{
    animation-duration: .2s;
    animation-name: pop;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.x {
    color: red;
}

.o {
    color: blue;
}

h1{
    font: 900 40px Arial, sans-serif;
    color: darkblue;
    -webkit-text-stroke: 1px white;
    margin-bottom: 20px;
}

body {
    background: radial-gradient(circle, $blue 0%, $light_blue 40%, $very_light_blue 100%);
    width: 100vw;
    min-width: 330px;
    height: 100vh;
}

#maindiv {
    @include centeredFlexContainer;

    flex-direction: column;
    gap : 20px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    .boardAndStateContainer{
        position: relative;
    }

    .board {
        @include centeredFlexContainer;

        width: 300px;
        height: 300px;
        
        &.disabled{
            filter : blur(3px);
        }
        
        .square {
            @include centeredFlexContainer;
            flex-shrink: 0;
            
            width: 100px;
            height: 100px;
            border: 3px solid white;
            font-size: 60px;
            text-align: center;
            cursor: pointer;

            &#topleft{
                border-top-left-radius: 4px;
            }

            &#topright{
                border-top-right-radius: 4px;
            }

            &#bottomleft{
                border-bottom-left-radius: 4px;
            }

            &#bottomright{
                border-bottom-right-radius: 4px;
            }

            &:hover {
                background-color: #ffffff55;
            }
        }
    }

    button{
        font-size: 20px;

        padding-top : 8px;
        padding-bottom : 8px;
        padding-left : 30px;
        padding-right : 30px;

        width: fit-content;

        background-color: $light_blue;
        color: white;
        border: 2px solid white;
        border-radius: 25px;

        box-shadow: 3px 3px 3px darkblue;
        
        &:hover {
            background-color: #ffffff55;
            cursor: pointer;
        }

        &:active {
            box-shadow: none;
            background-color: $blue;
        }
    }

    .gameStateDiv{
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top : 0px;
        left : 0px;

        height: 100%;
        width: 100%;
        
        &.hidden{
            display: none;
        }
    }
}